In [5]:
import pandas as pd
import numpy as np
import urllib

In [47]:
depths = pd.read_clipboard(header=None)

In [48]:
depths.columns = ['depth']

In [49]:
depths_copy = depths.copy()
depths_copy.index = depths_copy.index+1

In [51]:
depths

      depth
0       130
1       142
2       148
3       147
4       157
...     ...
1995   2059
1996   2061
1997   2068
1998   2088
1999   2097

[2000 rows x 1 columns]

In [54]:
depth_comparision = depths_copy.join(depths,lsuffix='_l',rsuffix='_r')

In [61]:
depth_comparision[depth_comparision['depth_l'] < depth_comparision['depth_r']]

      depth_l  depth_r
1         130    142.0
2         142    148.0
4         147    157.0
5         157    160.0
6         160    162.0
...       ...      ...
1994     2060   2061.0
1996     2059   2061.0
1997     2061   2068.0
1998     2068   2088.0
1999     2088   2097.0

[1167 rows x 2 columns]

In [68]:
rolling_sums = pd.DataFrame(depths.depth.rolling(window=3).sum())

In [71]:
rolling_sums

       depth
0        NaN
1        NaN
2      420.0
3      437.0
4      452.0
...      ...
1995  6180.0
1996  6181.0
1997  6188.0
1998  6217.0
1999  6253.0

[2000 rows x 1 columns]

In [73]:
sum(rolling_sums.depth.diff(periods=1) > 0)

1130