In [2]:
%pip install pyperclip

Collecting pyperclip
  Downloading pyperclip-1.8.2.tar.gz (20 kB)
Building wheels for collected packages: pyperclip
  Building wheel for pyperclip (setup.py) ... done
  Created wheel for pyperclip: filename=pyperclip-1.8.2-py3-none-any.whl size=11107 sha256=3742fe224974bf66f193828f5563d4d02358c2b04655c2bd1cecc847e7200e91
  Stored in directory: /Users/greg/Library/Caches/pip/wheels/9f/18/84/8f69f8b08169c7bae2dde6bd7daf0c19fca8c8e500ee620a28
Successfully built pyperclip
Installing collected packages: pyperclip
Successfully installed pyperclip-1.8.2
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pyperclip
import pandas as pd

In [30]:
copied_text = pyperclip.paste()

In [31]:
copied_text[0:11]

'B Z\nA X\nB Z'

In [32]:
hands = pd.DataFrame([{'oponent_hand': e.split(' ')[0], 'recommended_hand': e.split(' ')[1]} for e in copied_text.split('\n')])

In [33]:
hands.head()

  oponent_hand recommended_hand
0            B                Z
1            A                X
2            B                Z
3            B                Z
4            C                Z

In [34]:
print(hands.oponent_hand.unique(),
hands.recommended_hand.unique(), sep= '\n')

['B' 'A' 'C']
['Z' 'X' 'Y']

In [35]:
hands['hand_score'] = 1 #for rock (x)
hands.loc[hands.recommended_hand == 'Y', 'hand_score'] = 2 #paper
hands.loc[hands.recommended_hand == 'Z', 'hand_score'] = 3 #scissors

In [36]:
hands.head(10)

  oponent_hand recommended_hand  hand_score
0            B                Z           3
1            A                X           1
2            B                Z           3
3            B                Z           3
4            C                Z           3
5            B                Z           3
6            A                Z           3
7            B                X           1
8            C                Y           2
9            C                Y           2

In [37]:
hands['outcome'] = 0 #lost
hands.loc[((hands.oponent_hand == 'A') & (hands.recommended_hand == 'X')) |
          ((hands.oponent_hand == 'B') & (hands.recommended_hand == 'Y')) |
          ((hands.oponent_hand == 'C') & (hands.recommended_hand == 'Z')), 'outcome'] = 3 #draw
hands.loc[((hands.oponent_hand == 'A') & (hands.recommended_hand == 'Y')) |
          ((hands.oponent_hand == 'B') & (hands.recommended_hand == 'Z')) |
          ((hands.oponent_hand == 'C') & (hands.recommended_hand == 'X')), 'outcome'] = 6 #won

In [42]:
hands.head(7)

  oponent_hand recommended_hand  hand_score  outcome
0            B                Z           3        6
1            A                X           1        3
2            B                Z           3        6
3            B                Z           3        6
4            C                Z           3        3
5            B                Z           3        6
6            A                Z           3        0

In [43]:
hands['round_score'] = hands.hand_score + hands.outcome

In [44]:
hands.head()

  oponent_hand recommended_hand  hand_score  outcome  round_score
0            B                Z           3        6            9
1            A                X           1        3            4
2            B                Z           3        6            9
3            B                Z           3        6            9
4            C                Z           3        3            6

In [45]:
hands.round_score.sum()

11449

# Part 2

In [58]:
#rock a , paper b , scissors c
#, X lose
#Y Draw 
#Z win
hands['part_2_recommended_hand'] = 'A'
hands.loc[((hands.oponent_hand == 'A') & (hands.recommended_hand == 'Z')) |
          ((hands.oponent_hand == 'B') & (hands.recommended_hand == 'Y')) |
          ((hands.oponent_hand == 'C') & (hands.recommended_hand == 'X')),'part_2_recommended_hand'] = 'B' 

hands.loc[((hands.oponent_hand == 'A') & (hands.recommended_hand == 'X')) |
          ((hands.oponent_hand == 'B') & (hands.recommended_hand == 'Z')) |
          ((hands.oponent_hand == 'C') & (hands.recommended_hand == 'Y')),'part_2_recommended_hand'] = 'C' 
hands['part_2_hand_score'] = 1
hands.loc[hands.part_2_recommended_hand == 'B', 'part_2_hand_score'] = 2 #paper
hands.loc[hands.part_2_recommended_hand == 'C', 'part_2_hand_score'] = 3 #scissors

hands['part_2_outcome'] = 0 #lose
hands.loc[hands.recommended_hand == 'Y', 'part_2_outcome'] = 3 #draw
hands.loc[hands.recommended_hand == 'Z', 'part_2_outcome'] = 6 #Win
hands['part_2_round_score'] = hands.part_2_outcome + hands.part_2_hand_score

In [59]:
hands.head(10)

,oponent_hand,recommended_hand,hand_score,outcome,round_score,part_2_recommended_hand,part_2_hand_score,part_2_outcome,part_2_round_score
0,B,Z,3,6,9,C,3,6,9
1,A,X,1,3,4,C,3,0,3
2,B,Z,3,6,9,C,3,6,9
3,B,Z,3,6,9,C,3,6,9
4,C,Z,3,3,6,A,1,6,7
5,B,Z,3,6,9,C,3,6,9
6,A,Z,3,0,3,B,2,6,8
7,B,X,1,0,1,A,1,0,1
8,C,Y,2,0,2,C,3,3,6
9,C,Y,2,0,2,C,3,3,6

In [60]:
hands.part_2_round_score.sum()

13187